# 读取并查看P2P网络贷款数据主表的信息

1.使用ndim、shape、memory_usage属性分别查看维度 大小 占用内存信息

In [5]:

import pandas as pd

Training_Loginfo = pd.read_csv('./four/Training_Loginfo.csv')  # 读取训练数据
#编码问题
Training_Master = pd.read_csv("./four/Training_Master.csv",encoding='gbk')
Training_Userupdate = pd.read_csv("./four/Training_Userupdate.csv")

data = {
    '文件':['Training_Loginfo','Training_Master','Training_Userupdate'],
    '维度':[Training_Loginfo.ndim,Training_Master.ndim,Training_Userupdate.ndim],
    '大小':[Training_Loginfo.shape,Training_Master.shape,Training_Userupdate.shape]
}
df = pd.DataFrame(data)
df

                    文件  维度            大小
0     Training_Loginfo   2   (580551, 5)
1      Training_Master   2  (30000, 228)
2  Training_Userupdate   2   (372463, 4)

In [6]:
print("Training_Loginfo占用的内存：\n",Training_Loginfo.memory_usage())
print("#####################################################")
print("Training_Master占用的内存：\n",Training_Master.memory_usage())
print("#####################################################")
print("Training_Userupdate占用的内存：\n",Training_Userupdate.memory_usage())

Training_Loginfo占用的内存：
 Index                80
Idx             4644408
Listinginfo1    4644408
LogInfo1        4644408
LogInfo2        4644408
LogInfo3        4644408
dtype: int64
#####################################################
Training_Master占用的内存：
 Index                             80
Idx                           240000
UserInfo_1                    240000
UserInfo_2                    240000
UserInfo_3                    240000
UserInfo_4                    240000
WeblogInfo_1                  240000
WeblogInfo_2                  240000
WeblogInfo_3                  240000
WeblogInfo_4                  240000
WeblogInfo_5                  240000
WeblogInfo_6                  240000
WeblogInfo_7                  240000
WeblogInfo_8                  240000
WeblogInfo_9                  240000
WeblogInfo_10                 240000
WeblogInfo_11                 240000
WeblogInfo_12                 240000
WeblogInfo_13                 240000
WeblogInfo_14                 240000
WeblogInfo_15                 240000
WeblogInfo_16                 240000
WeblogInfo_17                 240000
WeblogInfo_18                 240000
UserInfo_5                    240000
UserInfo_6                    240000
UserInfo_7                    240000
UserInfo_8                    240000
UserInfo_9                    240000
UserInfo_10                   240000
                               ...
ThirdParty_Info_Period7_7     240000
ThirdParty_Info_Period7_8     240000
ThirdParty_Info_Period7_9     240000
ThirdParty_Info_Period7_10    240000
ThirdParty_Info_Period7_11    240000
ThirdParty_Info_Period7_12    240000
ThirdParty_Info_Period7_13    240000
ThirdParty_Info_Period7_14    240000
ThirdParty_Info_Period7_15    240000
ThirdParty_Info_Period7_16    240000
ThirdParty_Info_Period7_17    240000
SocialNetwork_1               240000
SocialNetwork_2               240000
SocialNetwork_3               240000
SocialNetwork_4               240000
SocialNetwork_5               240000
SocialNetwork_6               240000
SocialNetwork_7               240000
SocialNetwork_8               240000
SocialNetwork_9               240000
SocialNetwork_10              240000
SocialNetwork_11              240000
SocialNetwork_12              240000
SocialNetwork_13              240000
SocialNetwork_14              240000
SocialNetwork_15              240000
SocialNetwork_16              240000
SocialNetwork_17              240000
target                        240000
ListingInfo                   240000
Length: 229, dtype: int64
#####################################################
Training_Userupdate占用的内存：
 Index                   80
Idx                2979704
ListingInfo1       2979704
UserupdateInfo1    2979704
UserupdateInfo2    2979704
dtype: int64

2.使用describe方法进行描述性统计，并剔除相同或为空的列

In [7]:
print("Training_Loginfo描述性统计")
Training_Loginfo.describe()

Training_Loginfo描述性统计

                 Idx       LogInfo1       LogInfo2
count  580551.000000  580551.000000  580551.000000
mean    44911.327794      11.760608       6.070486
std     26484.183832      63.741930       5.123067
min         3.000000     -10.000000       0.000000
25%     21450.000000      -4.000000       2.000000
50%     45325.000000       1.000000       6.000000
75%     67913.000000       2.000000       6.000000
max     91703.000000    3001.000000      23.000000

In [8]:
col = Training_Master.describe().loc['std']==0#找出全为0的行
for i in range(len(col)):
    if(col[i]):
        #print(col.index[i])
        Training_Master.drop(col.index[i],axis=1,inplace=True)#删除0行
        
print("Training_Master描述性统计")
Training_Master.describe()

Training_Master描述性统计

,Idx,UserInfo_1,UserInfo_3,WeblogInfo_1,WeblogInfo_2,WeblogInfo_3,WeblogInfo_4,WeblogInfo_5,WeblogInfo_6,WeblogInfo_7,...,SocialNetwork_9,SocialNetwork_10,SocialNetwork_11,SocialNetwork_12,SocialNetwork_13,SocialNetwork_14,SocialNetwork_15,SocialNetwork_16,SocialNetwork_17,target
count,30000.000000,29994.000000,29993.000000,970.000000,28342.000000,970.000000,28349.000000,28349.000000,28349.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,46318.673267,3.219911,4.694329,2.201031,0.131466,1.308247,3.025962,1.816960,2.948711,10.632800,...,35.516167,75.211233,-0.999267,-0.745033,0.221167,0.062033,0.027967,0.016633,0.253467,0.073267
std,26640.397805,1.827684,1.321458,7.831679,0.358486,7.866457,3.772421,1.701177,3.770300,16.097588,...,135.954587,742.978305,0.052911,0.441473,0.420545,0.242598,0.164880,0.127895,0.437296,0.260578
min,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22924.250000,1.000000,4.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,46849.500000,3.000000,5.000000,1.000000,0.000000,0.000000,2.000000,1.000000,2.000000,6.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,69447.250000,5.000000,5.000000,1.000000,0.000000,1.000000,3.000000,2.000000,3.000000,13.000000,...,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,91703.000000,7.000000,7.000000,133.000000,4.000000,133.000000,165.000000,73.000000,165.000000,722.000000,...,3242.000000,71253.000000,6.000000,1.000000,2.000000,3.000000,1.000000,1.000000,3.000000,1.000000

In [9]:
print("Training_Userupdate描述性统计")
Training_Userupdate.describe()

Training_Userupdate描述性统计

                 Idx
count  372463.000000
mean    44838.613344
std     26436.962709
min         3.000000
25%     22434.000000
50%     44394.000000
75%     67239.000000
max     91703.000000

# 提取用户信息更新表和登录信息表的时间信息

1.使用to_datetime 函数转换用户信息更新表和登录信息表的时间字符串
2.提取 year,month,week

In [10]:
#Training_Loginfo文件借款成立时间和用户登录时间提取 year,month,week
LoginfoListing = pd.to_datetime(Training_Loginfo.Listinginfo1)
LoginfoLog = pd.to_datetime(Training_Loginfo.LogInfo3)
tmp = {
    '借款成立时间（年）':[i.year for i in LoginfoListing],
    '借款成立时间（月）':[i.month for i in LoginfoListing],
    '借款成立时间（周）':[i.week for i in LoginfoListing],
    '用户登录时间（年）':[i.year for i in LoginfoLog],
    '用户登录时间（月）':[i.month for i in LoginfoLog],
    '用户登录时间（周）':[i.week for i in LoginfoLog]
}
Loginfo_Info = pd.DataFrame(tmp)
print(Loginfo_Info)

#Training_Master文件借款成立时间提取 year,month,week
MasterListing = pd.to_datetime(Training_Master.ListingInfo)

tmp = {
    '借款成立时间（年）':[i.year for i in MasterListing],
    '借款成立时间（月）':[i.month for i in MasterListing],
    '借款成立时间（周）':[i.week for i in MasterListing]
}
Master_Info = pd.DataFrame(tmp)
print(Master_Info)

#Training_Userupdate借款成立时间和用户信息修改时间提取 year,month,week
UserupdateListing = pd.to_datetime(Training_Userupdate.ListingInfo1)
UserupdateUpdate = pd.to_datetime(Training_Userupdate.UserupdateInfo2)
tmp = {
    '借款成立时间（年）':[i.year for i in UserupdateListing],
    '借款成立时间（月）':[i.month for i in UserupdateListing],
    '借款成立时间（周）':[i.week for i in UserupdateListing],
    '用户登录时间（年）':[i.year for i in UserupdateUpdate],
    '用户登录时间（月）':[i.month for i in UserupdateUpdate],
    '用户登录时间（周）':[i.week for i in UserupdateUpdate]
}
Userupdate_Info = pd.DataFrame(tmp)
print(Userupdate_Info)


#借款成交时间与登录时间
Listing_Log= LoginfoListing-LoginfoLog
#借款成交时间与用户信息更新时间
Listing_User = UserupdateListing-UserupdateUpdate

        借款成立时间（年）  借款成立时间（月）  借款成立时间（周）  用户登录时间（年）  用户登录时间（月）  用户登录时间（周）
0            2014          3         10       2014          2          8
1            2014          3         10       2014          2          8
2            2014          3         10       2014          2          9
3            2014          3         10       2014          2          9
4            2014          3         10       2014          2          9
5            2014          3         10       2014          3         10
6            2014          3         10       2014          2          8
7            2014          3         10       2014          2          8
8            2014          3         10       2014          2          8
9            2014          3         10       2014          2          8
10           2014          3         10       2014          2          8
11           2014          3         10       2014          2          8
12           2014          3         10       2014          2          8
13           2014          3         10       2014          2          8
14           2014          3         10       2014          2          8
15           2014          3         10       2014          2          9
16           2014          3         10       2014          2          9
17           2014          3         10       2014          2          9
18           2014          3         10       2014          3         10
19           2014          2          9       2013          6         25
20           2014          2          9       2013          7         28
21           2014          2          9       2013          7         28
22           2014          2          9       2013          6         25
23           2014          2          9       2014          2          8
24           2014          2          9       2013          6         25
25           2014          2          9       2013          6         25
26           2014          2          9       2013          6         25
27           2014          2          9       2013          7         28
28           2014          2          9       2014          2          8
29           2014          2          9       2014          2          9
...           ...        ...        ...        ...        ...        ...
580521       2014          2          9       2014          2          8
580522       2014          2          9       2014          2          8
580523       2014          2          9       2014          2          9
580524       2014          2          9       2014          2          9
580525       2014          2          9       2014          2          9
580526       2014          2          9       2014          2          9
580527       2014          2          9       2014          2          8
580528       2014          2          9       2014          2          8
580529       2014          2          9       2014          2          8
580530       2014          2          9       2014          2          8
580531       2014          2          9       2014          2          8
580532       2014          2          9       2014          2          8
580533       2014          2          9       2014          2          8
580534       2014          2          9       2014          2          8
580535       2014          2          9       2014          2          8
580536       2014          2          9       2014          2          8
580537       2014          2          9       2014          2          9
580538       2014          2          9       2014          2          9
580539       2014          2          9       2014          2          9
580540       2014          2          9       2014          2          9
580541       2014          2          9       2014          2          9
580542       2014          3         10       2014          2          8
580543       2014          3         10       2014          2          8
580544       2014          3         10       2014          2          8
580545       2014          3         10       2014          2          8
580546       2014          3         10       2014          2          8
580547       2014          3         10       2014          2          8
580548       2014          3         10       2014          2          8
580549       2014          3         10       2014          3         10
580550       2014          3         10       2014          3         10

[580551 rows x 6 columns]
       借款成立时间（年）  借款成立时间（月）  借款成立时间（周）
0           2014          3         10
1           2014          2          9
2           2014          2          9
3           2014          2          9
4           2014          2          9
5           2014          2          9
6           2014          2          9
7           2014          2          9
8           2014          2          9
9           2014          2          9
10          2014          2          9
11          2014          3         10
12          2014          3         10
13          2014          2          9
14          2014          3         10
15          2014          2          9
16          2014          2          9
17          2014          2          8
18          2014          2          8
19          2014          2          9
20          2014          2          9
21          2014          2          9
22          2014          2          9
23          2013         11         47
24          2014          2          8
25          2014          2          9
26          2014          3         10
27          2014          2          9
28          2013         11         47
29          2014          3         10
...          ...        ...        ...
29970       2014          3         10
29971       2013         11         47
29972       2014          3         10
29973       2014          3         10
29974       2014          2          8
29975       2014          2          9
29976       2013         11         46
29977       2014          2          9
29978       2014          3         11
29979       2014          2          8
29980       2014          2          9
29981       2014          2          9
29982       2014          2          9
29983       2014          2          8
29984       2014          2          8
29985       2014          2          8
29986       2014          2          8
29987       2014          2          9
29988       2014          2          9
29989       2014          2          9
29990       2014          2          9
29991       2014          2          8
29992       2014          2          9
29993       2014          2          9
29994       2014          2          9
29995       2014          2          8
29996       2014          2          9
29997       2014          2          9
29998       2014          2          9
29999       2014          3         10

[30000 rows x 3 columns]
        借款成立时间（年）  借款成立时间（月）  借款成立时间（周）  用户登录时间（年）  用户登录时间（月）  用户登录时间（周）
0            2014          3         10       2014          2          8
1            2014          3         10       2014          2          8
2            2014          3         10       2014          2          8
3            2014          3         10       2014          2          8
4            2014          3         10       2014          2          8
5            2014          3         10       2014          2          8
6            2014          3         10       2014          2          8
7            2014          3         10       2014          2          8
8            2014          3         10       2014          2          8
9            2014          3         10       2014          2          8
10           2014          3         10       2014          2          8
11           2014          2          9       2013          6         25
12           2014          2          9       2013          6         25
13           2014          2          9       2013          6         25
14           2014          2          9       2013          6         25
15           2014          2          9       2013          6         25
16           2014          2          9       2013          6         25
17           2014          2          9       2013          7         28
18           2014          2          9       2013          7         28
19           2014          2          9       2013          7         28
20           2014          2          9       2013          7         28
21           2014          2          9       2013          6         25
22           2014          2          9       2013          6         25
23           2014          2          9       2014          2          8
24           2014          2          9       2013          6         25
25           2014          2          9       2013          6         25
26           2014          2          9       2013          6         25
27           2014          2          9       2013          6         25
28           2014          2          9       2013          6         25
29           2014          2          9       2013          6         25
...           ...        ...        ...        ...        ...        ...
372433       2014          2          9       2014          2          8
372434       2014          2          9       2014          2          8
372435       2014          2          9       2014          2          8
372436       2014          2          9       2014          2          8
372437       2014          2          9       2014          2          8
372438       2014          2          9       2014          2          8
372439       2014          2          9       2014          2          8
372440       2014          2          9       2014          2          8
372441       2014          2          9       2014          2          8
372442       2014          2          9       2014          2          8
372443       2014          2          9       2014          2          8
372444       2014          2          9       2014          2          8
372445       2014          2          9       2014          2          8
372446       2014          2          9       2014          2          8
372447       2014          2          9       2014          2          8
372448       2014          2          9       2014          2          8
372449       2014          2          9       2014          2          8
372450       2014          2          9       2014          2          8
372451       2014          2          9       2014          2          8
372452       2014          3         10       2014          2          8
372453       2014          3         10       2014          2          8
372454       2014          3         10       2014          2          8
372455       2014          3         10       2014          2          8
372456       2014          3         10       2014          2          8
372457       2014          3         10       2014          2          8
372458       2014          3         10       2014          2          8
372459       2014          3         10       2014          2          8
372460       2014          3         10       2014          2          8
372461       2014          3         10       2014          2          8
372462       2014          3         10       2014          2          8

[372463 rows x 6 columns]

In [34]:
res1 = pd.DataFrame({'id':Training_Loginfo.Idx,'借款成交时间与登录时间(日)':[int(str(i)[:2]) for i in Listing_Log],'借款成交时间与登录时间(时)':[int(str(i)[:2])*24 for i in Listing_Log],'借款成交时间与登录时间(分钟)':[int(str(i)[:2])*24*60 for i in Listing_Log]})
res2 = pd.DataFrame({'id':Training_Userupdate.Idx,'借款成交时间与用户信息更新时间(日)':[int(str(i)[:2]) for i in Listing_User],'借款成交时间与用户信息更新时间(时)':[int(str(i)[:2])*24 for i in Listing_User],'借款成交时间与用户信息更新时间(分钟)':[int(str(i)[:2])*24*60 for i in Listing_User]})


print("借款成交时间与登录时间\n",res1)
print("借款成交时间与用户信息更新时间\n",res2)

借款成交时间与登录时间
            id  借款成交时间与登录时间(日)  借款成交时间与登录时间(时)  借款成交时间与登录时间(分钟)
0       10001              13             312            18720
1       10001              10             240            14400
2       10001               9             216            12960
3       10001               8             192            11520
4       10001               6             144             8640
5       10001               1              24             1440
6       10001              13             312            18720
7       10001              13             312            18720
8       10001              13             312            18720
9       10001              13             312            18720
10      10001              13             312            18720
11      10001              13             312            18720
12      10001              13             312            18720
13      10001              13             312            18720
14      10001              10             240            14400
15      10001               9             216            12960
16      10001               8             192            11520
17      10001               6             144             8640
18      10001               1              24             1440
19      10002              25             600            36000
20      10002              23             552            33120
21      10002              23             552            33120
22      10002              25             600            36000
23      10002               6             144             8640
24      10002              25             600            36000
25      10002              25             600            36000
26      10002              25             600            36000
27      10002              23             552            33120
28      10002               6             144             8640
29      10002               1              24             1440
...       ...             ...             ...              ...
580521   9997               8             192            11520
580522   9997               7             168            10080
580523   9997               4              96             5760
580524   9997               2              48             2880
580525   9997               1              24             1440
580526   9997               0               0                0
580527   9997               8             192            11520
580528   9997               8             192            11520
580529   9997               8             192            11520
580530   9997               8             192            11520
580531   9997               8             192            11520
580532   9997               8             192            11520
580533   9997               8             192            11520
580534   9997               8             192            11520
580535   9997               8             192            11520
580536   9997               7             168            10080
580537   9997               4              96             5760
580538   9997               2              48             2880
580539   9997               1              24             1440
580540   9997               1              24             1440
580541   9997               0               0                0
580542   9998              13             312            18720
580543   9998              13             312            18720
580544   9998              13             312            18720
580545   9998              13             312            18720
580546   9998              13             312            18720
580547   9998              13             312            18720
580548   9998              13             312            18720
580549   9998               0               0                0
580550   9998               0               0                0

[580551 rows x 4 columns]
借款成交时间与用户信息更新时间
            id  借款成交时间与用户信息更新时间(日)  借款成交时间与用户信息更新时间(时)  借款成交时间与用户信息更新时间(分钟)
0       10001                  13                 312                18720
1       10001                  13                 312                18720
2       10001                  13                 312                18720
3       10001                  13                 312                18720
4       10001                  13                 312                18720
5       10001                  13                 312                18720
6       10001                  13                 312                18720
7       10001                  13                 312                18720
8       10001                  13                 312                18720
9       10001                  13                 312                18720
10      10001                  13                 312                18720
11      10002                  25                 600                36000
12      10002                  25                 600                36000
13      10002                  25                 600                36000
14      10002                  25                 600                36000
15      10002                  25                 600                36000
16      10002                  25                 600                36000
17      10002                  23                 552                33120
18      10002                  23                 552                33120
19      10002                  23                 552                33120
20      10002                  23                 552                33120
21      10002                  25                 600                36000
22      10002                  25                 600                36000
23      10002                   6                 144                 8640
24      10002                  25                 600                36000
25      10002                  25                 600                36000
26      10002                  25                 600                36000
27      10002                  25                 600                36000
28      10002                  25                 600                36000
29      10002                  25                 600                36000
...       ...                 ...                 ...                  ...
372433   9995                   4                  96                 5760
372434   9995                   4                  96                 5760
372435   9995                   4                  96                 5760
372436   9995                   4                  96                 5760
372437   9995                   4                  96                 5760
372438   9995                   4                  96                 5760
372439   9995                   4                  96                 5760
372440   9995                   4                  96                 5760
372441   9995                   4                  96                 5760
372442   9997                   8                 192                11520
372443   9997                   8                 192                11520
372444   9997                   8                 192                11520
372445   9997                   8                 192                11520
372446   9997                   8                 192                11520
372447   9997                   8                 192                11520
372448   9997                   8                 192                11520
372449   9997                   8                 192                11520
372450   9997                   8                 192                11520
372451   9997                   8                 192                11520
372452   9998                  13                 312                18720
372453   9998                  13                 312                18720
372454   9998                  13                 312                18720
372455   9998                  13                 312                18720
372456   9998                  13                 312                18720
372457   9998                  13                 312                18720
372458   9998                  13                 312                18720
372459   9998                  13                 312                18720
372460   9998                  13                 312                18720
372461   9998                  13                 312                18720
372462   9998                  13                 312                18720

[372463 rows x 4 columns]

# 实训三：使用分组聚合方法进一步分析用户信息更新表和登录信息表

In [35]:
#实训二
import pandas as pd
import numpy as np
Training_Loginfo = pd.read_csv('./four/Training_Loginfo.csv')  # 读取数据
#编码问题
Training_Master = pd.read_csv("./four/Training_Master.csv",encoding='gbk')
Training_Userupdate = pd.read_csv("./four/Training_Userupdate.csv")


#groupby分组
LoginGroup = Training_Loginfo.groupby(by='Idx',sort=0)
UserupdateGroup = Training_Userupdate.groupby(by='Idx',sort=0)

#Training_Loginfo文件借款成立时间和用户登录时间同一用户的最早与最晚时间
Max_Min_Login = LoginGroup[['Listinginfo1','LogInfo3']].agg([np.max,np.min])
print('Training_Loginfo文件借款成立时间和用户登录时间同一用户的最早与最晚时间:\n',Max_Min_Login)
#Training_Userupdate文件借款成立时间和用户登录时间同一用户的最早与最晚时间
Max_Min_Update =  UserupdateGroup[['ListingInfo1','UserupdateInfo2']].agg([np.max,np.min])
print('Training_Userupdate文件借款成立时间和用户登录时间同一用户的最早与最晚时间:\n',Max_Min_Update)
#Training_Loginfo用户登录次数
print("Training_Loginfo用户登录次数:\n",LoginGroup.size())
#Training_Userupdate用户登陆次数
print("Training_Userupdate用户登录次数:\n",UserupdateGroup.size())

Training_Loginfo文件借款成立时间和用户登录时间同一用户的最早与最晚时间:
       Listinginfo1                LogInfo3
              amax        amin        amax        amin
Idx
10001   2014-03-05  2014-03-05  2014-03-04  2014-02-20
10002   2014-02-26  2014-02-26  2014-02-25  2013-06-21
10003   2014-02-28  2014-02-28  2014-02-27  2014-02-20
10006   2014-02-25  2014-02-25  2014-02-20  2014-02-20
10007   2014-02-27  2014-02-27  2014-02-27  2014-02-20
10008   2014-02-27  2014-02-27  2014-02-26  2014-02-20
10011   2014-02-24  2014-02-24  2014-02-24  2012-08-15
10015   2014-02-28  2014-02-28  2014-02-28  2014-02-20
10019   2014-02-24  2014-02-24  2014-02-24  2013-09-11
10021   2014-02-27  2014-02-27  2014-02-25  2014-02-20
10022   2014-02-25  2014-02-25  2014-02-24  2014-02-20
10024   2014-03-06  2014-03-06  2014-03-06  2014-02-20
10026   2014-03-04  2014-03-04  2014-03-04  2014-02-20
10027   2014-02-26  2014-02-26  2014-02-26  2014-02-20
10031   2014-03-07  2014-03-07  2014-03-07  2014-02-20
10032   2014-02-26  2014-02-26  2014-02-26  2014-02-20
10036   2014-02-27  2014-02-27  2014-02-27  2014-02-20
10039   2014-02-22  2014-02-22  2014-02-22  2014-02-20
10040   2014-02-23  2014-02-23  2014-02-23  2014-02-20
10044   2014-02-24  2014-02-24  2014-02-24  2014-02-20
10050   2014-02-26  2014-02-26  2014-02-26  2014-02-20
10054   2014-02-24  2014-02-24  2014-02-22  2014-02-20
10059   2014-02-26  2014-02-26  2014-02-26  2011-05-26
1006    2013-11-18  2013-11-18  2013-11-18  2013-10-30
10063   2014-02-22  2014-02-22  2014-02-21  2014-02-20
10067   2014-02-25  2014-02-25  2014-02-25  2014-02-21
10068   2014-03-04  2014-03-04  2014-03-04  2014-02-21
10069   2014-02-24  2014-02-24  2014-02-24  2014-02-21
1007    2013-11-18  2013-11-18  2013-11-18  2013-11-12
10070   2014-03-03  2014-03-03  2014-03-03  2014-02-21
...            ...         ...         ...         ...
9905    2014-03-04  2014-03-04  2014-03-04  2014-02-22
991     2013-11-21  2013-11-21  2013-11-21  2013-11-12
9912    2014-03-05  2014-03-05  2014-03-05  2014-02-21
9914    2014-03-07  2014-03-07  2014-03-07  2014-02-20
9918    2014-02-20  2014-02-20  2014-02-20  2014-02-20
9919    2014-02-28  2014-02-28  2014-02-28  2013-10-11
992     2013-11-15  2013-11-15  2013-11-15  2013-11-12
9921    2014-02-26  2014-02-26  2014-02-26  2014-02-20
9923    2014-03-10  2014-03-10  2014-03-06  2014-02-25
9926    2014-02-21  2014-02-21  2014-02-21  2014-02-20
9935    2014-02-24  2014-02-24  2014-02-24  2014-02-20
9936    2014-02-27  2014-02-27  2014-02-27  2014-02-20
9938    2014-02-24  2014-02-24  2014-02-24  2014-02-20
9941    2014-02-21  2014-02-21  2014-02-21  2014-02-20
9952    2014-02-22  2014-02-22  2014-02-22  2014-02-20
9964    2014-02-21  2014-02-21  2014-02-21  2014-02-20
9966    2014-02-23  2014-02-23  2014-02-23  2014-02-20
9967    2014-02-24  2014-02-24  2014-02-24  2013-07-06
9974    2014-02-28  2014-02-28  2014-02-28  2014-02-20
9979    2014-02-24  2014-02-24  2014-02-24  2013-06-17
9983    2014-02-25  2014-02-25  2014-02-25  2014-02-20
9984    2014-02-22  2014-02-22  2014-02-22  2011-05-14
9986    2014-02-25  2014-02-25  2014-02-25  2014-02-20
9989    2014-02-24  2014-02-24  2014-02-24  2014-02-20
9990    2014-02-28  2014-02-28  2014-02-20  2014-02-20
9991    2014-02-22  2014-02-22  2014-02-22  2013-12-17
9992    2014-02-28  2014-02-28  2014-02-28  2014-02-20
9995    2014-02-24  2014-02-24  2014-02-21  2014-02-20
9997    2014-02-28  2014-02-28  2014-02-28  2014-02-20
9998    2014-03-05  2014-03-05  2014-03-05  2014-02-20

[28987 rows x 4 columns]
Training_Userupdate文件借款成立时间和用户登录时间同一用户的最早与最晚时间:
       ListingInfo1             UserupdateInfo2
              amax        amin            amax        amin
Idx
10001     2014/3/5    2014/3/5       2014/2/20   2014/2/20
10002    2014/2/26   2014/2/26       2014/2/20   2013/6/21
10003    2014/2/28   2014/2/28       2014/2/20   2014/2/20
10006    2014/2/25   2014/2/25       2014/2/20   2014/2/20
10007    2014/2/27   2014/2/27       2014/2/20   2014/2/19
10008    2014/2/27   2014/2/27       2014/2/20   2014/2/20
10011    2014/2/24   2014/2/24       2014/2/20   2014/2/20
10015    2014/2/28   2014/2/28       2014/1/24   2014/1/17
10019    2014/2/24   2014/2/24       2014/2/24   2013/9/11
10021    2014/2/27   2014/2/27       2014/2/20   2014/2/20
10022    2014/2/25   2014/2/25       2014/2/20   2014/2/20
10024     2014/3/6    2014/3/6       2014/2/20   2014/2/20
10026     2014/3/4    2014/3/4        2014/3/2   2014/2/20
10027    2014/2/26   2014/2/26       2014/2/20   2014/2/19
10031     2014/3/7    2014/3/7       2014/2/20   2014/2/20
10032    2014/2/26   2014/2/26       2014/2/20   2014/2/20
10036    2014/2/27   2014/2/27       2014/2/21   2014/2/19
10039    2014/2/22   2014/2/22       2014/2/20   2014/2/20
10040    2014/2/23   2014/2/23       2014/2/20   2014/2/20
10044    2014/2/24   2014/2/24       2014/2/24   2014/2/20
10050    2014/2/26   2014/2/26       2014/2/24   2014/2/20
10054    2014/2/24   2014/2/24       2014/2/20   2014/2/20
10059    2014/2/26   2014/2/26       2014/2/22   2014/2/20
1006    2013/11/18  2013/11/18      2013/11/18  2013/10/30
10063    2014/2/22   2014/2/22       2014/2/21   2014/2/20
10067    2014/2/25   2014/2/25       2014/2/21   2014/2/21
10068     2014/3/4    2014/3/4       2014/2/26   2014/2/21
10069    2014/2/24   2014/2/24       2014/2/22   2014/2/21
1007    2013/11/18  2013/11/18      2013/11/16  2013/11/12
10070     2014/3/3    2014/3/3       2014/2/21   2014/2/21
...            ...         ...             ...         ...
9905      2014/3/4    2014/3/4       2014/2/19   2014/2/19
991     2013/11/21  2013/11/21      2013/11/18  2013/11/12
9912      2014/3/5    2014/3/5       2014/2/19   2014/2/19
9914      2014/3/7    2014/3/7       2014/2/19   2014/2/19
9918     2014/2/20   2014/2/20       2014/2/19   2014/2/11
9919     2014/2/28   2014/2/28       2014/2/19   2014/2/19
992     2013/11/15  2013/11/15      2013/11/14  2013/11/12
9921     2014/2/26   2014/2/26       2014/2/19   2014/2/19
9923     2014/3/10   2014/3/10       2014/2/19   2014/2/19
9926     2014/2/21   2014/2/21       2014/1/17   2014/1/17
9935     2014/2/24   2014/2/24       2014/2/20   2014/2/19
9936     2014/2/27   2014/2/27       2014/2/20   2014/2/19
9938     2014/2/24   2014/2/24       2014/2/19   2014/2/19
9941     2014/2/21   2014/2/21       2014/2/19   2014/2/12
9952     2014/2/22   2014/2/22       2014/2/20   2014/2/20
9964     2014/2/21   2014/2/21       2014/2/20   2014/1/16
9966     2014/2/23   2014/2/23       2014/1/19   2014/1/19
9967     2014/2/24   2014/2/24       2014/2/21    2013/7/6
9974     2014/2/28   2014/2/28       2014/2/20   2014/2/20
9979     2014/2/24   2014/2/24       2014/2/21  2013/12/16
9983     2014/2/25   2014/2/25       2014/2/15   2014/2/15
9984     2014/2/22   2014/2/22       2014/2/20   2013/2/14
9986     2014/2/25   2014/2/25       2014/2/23   2014/1/18
9989     2014/2/24   2014/2/24        2014/2/9   2014/2/20
9990     2014/2/28   2014/2/28       2014/2/20   2014/2/20
9991     2014/2/22   2014/2/22       2014/2/21  2013/12/17
9992     2014/2/28   2014/2/28       2014/2/20   2014/2/20
9995     2014/2/24   2014/2/24       2014/2/20   2014/2/20
9997     2014/2/28   2014/2/28       2014/2/20   2014/2/20
9998      2014/3/5    2014/3/5       2014/2/20   2014/2/20

[29995 rows x 4 columns]
Training_Loginfo用户登录次数:
 Idx
10001     19
10002     24
10003     14
10006      7
10007      5
10008     10
10011     23
10015      9
10019     30
10021     10
10022     19
10024      9
10026     40
10027      6
10031     34
10032     14
10036     11
10039     24
10040      9
10044      8
10050     25
10054     13
10059     60
1006      18
10063     13
10067     15
10068     38
10069     17
1007      39
10070     13
        ...
9905      26
991       24
9912      16
9914      27
9918       4
9919      19
992       24
9921       6
9923      12
9926       3
9935      11
9936      28
9938      10
9941       2
9952      16
9964      10
9966       6
9967      23
9974      19
9979      33
9983       9
9984     139
9986      11
9989      73
9990       7
9991      19
9992      22
9995       6
9997      21
9998       9
Length: 28987, dtype: int64
Training_Userupdate用户登录次数:
 Idx
10001    11
10002    21
10003    10
10006    10
10007    10
10008     9
10011    10
10015    12
10019    16
10021     4
10022    13
10024    10
10026    21
10027    10
10031    10
10032    10
10036    14
10039    10
10040     9
10044    12
10050    12
10054    10
10059    20
1006     12
10063    13
10067    10
10068    12
10069    13
1007     24
10070    10
         ..
9905     15
991      13
9912     20
9914     12
9918     10
9919     19
992      15
9921     10
9923     10
9926     19
9935     11
9936     12
9938     10
9941     10
9952     11
9964     12
9966     10
9967     19
9974     10
9979     27
9983     11
9984     20
9986     13
9989     13
9990     10
9991     17
9992     10
9995      9
9997     10
9998     11
Length: 29995, dtype: int64

# 实训4 对用户信息更新表和登录信息表进行长宽表转换

In [36]:
#Training_Loginfo长宽表转换
Training_Loginfo = pd.D

ataFrame(Training_Loginfo)
Loginfo_pivot = pd.pivot_table(Training_Loginfo,index=['Idx'],aggfunc=np.min)
Loginfo_pivot

      Listinginfo1  LogInfo1  LogInfo2    LogInfo3
Idx
3       2013-11-05        -4         0  2013-08-30
5       2013-11-07       -10         0  2013-10-24
8       2013-11-06       -10         0  2013-10-25
12      2013-11-01       -10         0  2012-12-08
16      2013-11-05        -4         0  2013-10-27
17      2013-11-05        -4         0  2013-10-27
18      2013-11-01        -4         0  2013-10-27
20      2013-11-01        -4         0  2013-10-27
21      2013-11-01        -4         0  2013-10-28
23      2013-11-01        -4         0  2013-08-11
29      2013-11-01        -4         0  2013-10-28
31      2013-11-05        -4         0  2013-10-28
33      2013-11-01        -4         1  2011-09-19
35      2013-11-05        -4         0  2013-10-21
36      2013-11-01       -10         0  2013-10-28
37      2013-11-01       -10         0  2013-05-14
41      2013-11-07       -10         0  2013-10-29
43      2013-11-04        -4         0  2013-10-29
48      2013-11-09       -10         0  2013-07-04
51      2013-11-05        -4         0  2013-10-29
57      2013-11-01        -4         0  2013-10-29
62      2013-11-05        -4         0  2013-09-27
67      2013-11-07        -4         0  2013-10-29
68      2013-11-01        -4         0  2013-08-26
71      2013-11-04       -10         0  2013-08-04
73      2013-11-01        -4         0  2013-10-29
75      2013-11-05       -10         0  2013-06-10
80      2013-11-01       -10         0  2013-10-28
81      2013-11-04        -4         0  2013-10-29
82      2013-11-01        -4         0  2013-10-29
...            ...       ...       ...         ...
91610   2014-11-03        -4         0  2014-10-26
91613   2014-10-29         1         0  2014-10-26
91617   2014-11-03        -4         0  2014-10-26
91618   2014-11-04        -4         0  2014-10-25
91620   2014-11-02         1         0  2014-10-26
91626   2014-10-30        -4         0  2014-10-26
91628   2014-11-02        -4         0  2014-10-26
91630   2014-10-31        -4         0  2014-04-23
91635   2014-10-30        -4         0  2014-10-26
91642   2014-11-02        -4         0  2014-10-26
91643   2014-11-03         1         0  2014-10-26
91646   2014-10-29        -4         0  2014-10-25
91647   2014-11-04        -4         0  2012-09-21
91660   2014-11-03         1         0  2014-10-26
91666   2014-11-05        -4         0  2014-10-26
91668   2014-10-30        -4         0  2014-10-26
91670   2014-10-28        -4         0  2014-10-19
91672   2014-11-03        -4         0  2013-03-27
91674   2014-11-03         1         0  2014-10-26
91676   2014-11-02        -4         0  2014-10-26
91677   2014-11-04        -4         0  2014-10-26
91680   2014-10-28        -4         0  2014-04-22
91681   2014-10-31        -4         0  2014-10-12
91686   2014-10-28         1         0  2014-10-26
91688   2014-10-30        -4         0  2014-10-26
91689   2014-10-29         1         0  2014-10-26
91693   2014-11-06       -10         0  2014-10-26
91695   2014-10-30        -4         0  2014-09-26
91702   2014-11-02         1         0  2014-10-26
91703   2014-11-03        -4         0  2014-10-26

[28987 rows x 4 columns]

In [37]:
#Training_Userupdate 长宽表转换
Training_Userupdate = pd.DataFrame(Training_Userupdate)
Userupdate_pivot = pd.pivot_table(Training_Userupdate,index=['Idx'],aggfunc=np.min)
Userupdate_pivot

      ListingInfo1  UserupdateInfo1 UserupdateInfo2
Idx
3        2013/11/5     _EducationId       2013/8/30
5        2013/11/7     _EducationId      2013/10/24
8        2013/11/6     _EducationId      2013/10/25
12       2013/11/1             _Age       2012/12/8
16       2013/11/5     _EducationId      2013/10/27
17       2013/11/5     _EducationId      2013/10/27
18       2013/11/1     _EducationId      2013/10/27
20       2013/11/1     _EducationId      2013/10/27
21       2013/11/1     _EducationId      2013/10/28
23       2013/11/1     _EducationId       2013/8/11
29       2013/11/1        _ByUserId      2013/10/28
31       2013/11/5     _EducationId      2013/10/28
33       2013/11/1             _Age      2013/10/28
35       2013/11/5     _EducationId      2013/10/21
36       2013/11/1     _EducationId      2013/10/28
37       2013/11/1    _CompanyPhone      2013/10/28
41       2013/11/7     _EducationId      2013/10/29
43       2013/11/4    _CompanyPhone      2013/10/29
48       2013/11/9             _age      2013/10/31
51       2013/11/5     _EducationId      2013/10/29
57       2013/11/1     _EducationId      2013/10/29
62       2013/11/5     _EducationId      2013/10/30
67       2013/11/7     _EducationId      2013/10/29
68       2013/11/1     _EducationId       2013/8/26
71       2013/11/4     _EducationId      2013/10/29
73       2013/11/1     _EducationId      2013/10/29
75       2013/11/5      _IncomeFrom      2013/10/29
80       2013/11/1     _EducationId      2013/10/28
81       2013/11/4    _CompanyPhone      2013/10/29
82       2013/11/1  _CompanyAddress      2013/10/29
...            ...              ...             ...
91610    2014/11/3        _ByUserId      2014/10/26
91613   2014/10/29          _CityId      2014/10/26
91617    2014/11/3          _CityId      2014/10/26
91618    2014/11/4          _CityId      2014/10/25
91620    2014/11/2        _IdNumber      2014/10/26
91626   2014/10/30          _CityId      2014/10/26
91628    2014/11/2          _CityId      2014/10/26
91630   2014/10/31          _CityId      2014/10/26
91635   2014/10/30          _CityId      2014/10/26
91642    2014/11/2          _CityId      2014/10/26
91643    2014/11/3          _CityId      2014/10/26
91646   2014/10/29          _CityId      2014/10/25
91647    2014/11/4             _Age      2012/10/11
91660    2014/11/3        _IdNumber      2014/10/26
91666    2014/11/5        _IdNumber      2014/10/26
91668   2014/10/30          _CityId      2014/10/26
91670   2014/10/28     _EducationId      2014/10/19
91672    2014/11/3          _CityId       2013/3/27
91674    2014/11/3          _CityId      2014/10/26
91676    2014/11/2          _CityId      2014/10/26
91677    2014/11/4        _IdNumber      2014/10/26
91680   2014/10/28          _CityId      2014/10/26
91681   2014/10/31          _CityId      2014/10/26
91686   2014/10/28          _CityId      2014/10/26
91688   2014/10/30          _CityId      2014/10/26
91689   2014/10/29          _CityId      2014/10/26
91693    2014/11/6        _IdNumber      2014/10/26
91695   2014/10/30          _CityId      2014/10/26
91702    2014/11/2          _CityId      2014/10/26
91703    2014/11/3          _CityId      2014/10/26

[29995 rows x 3 columns]

In [38]:
#表的合并
Training_Master
tmp = pd.merge(Training_Master,Loginfo_pivot,on='Idx')
res = pd.merge(tmp,Userupdate_pivot,on='Idx')

In [39]:
res

,Idx,UserInfo_1,UserInfo_2,UserInfo_3,UserInfo_4,WeblogInfo_1,WeblogInfo_2,WeblogInfo_3,WeblogInfo_4,WeblogInfo_5,...,SocialNetwork_17,target,ListingInfo,Listinginfo1,LogInfo1,LogInfo2,LogInfo3,ListingInfo1,UserupdateInfo1,UserupdateInfo2
0,10001,1.0,深圳,4.0,深圳,NaN,1.0,NaN,1.0,1.0,...,1,0,2014/3/5,2014-03-05,-4,0,2014-02-20,2014/3/5,_EducationId,2014/2/20
1,10002,1.0,温州,4.0,温州,NaN,0.0,NaN,1.0,1.0,...,2,0,2014/2/26,2014-02-26,-4,0,2013-06-21,2014/2/26,_MobilePhone,2013/6/21
2,10003,1.0,宜昌,3.0,宜昌,NaN,0.0,NaN,2.0,2.0,...,0,0,2014/2/28,2014-02-28,-4,0,2014-02-20,2014/2/28,_EducationId,2014/2/20
3,10006,4.0,南平,1.0,南平,NaN,NaN,NaN,NaN,NaN,...,0,0,2014/2/25,2014-02-25,-4,0,2014-02-20,2014/2/25,_EducationId,2014/2/20
4,10007,5.0,辽阳,1.0,辽阳,NaN,0.0,NaN,1.0,1.0,...,0,0,2014/2/27,2014-02-27,-4,2,2014-02-20,2014/2/27,_EducationId,2014/2/19
5,10008,1.0,吴忠,5.0,银川,NaN,0.0,NaN,2.0,2.0,...,0,0,2014/2/27,2014-02-27,-4,0,2014-02-20,2014/2/27,_EducationId,2014/2/20
6,10011,1.0,绵阳,3.0,赤峰,NaN,0.0,NaN,13.0,1.0,...,1,1,2014/2/24,2014-02-24,-10,0,2012-08-15,2014/2/24,_EducationId,2014/2/20
7,10015,4.0,东莞,5.0,东莞,NaN,0.0,NaN,12.0,6.0,...,1,0,2014/2/28,2014-02-28,-4,2,2014-02-20,2014/2/28,_EducationId,2014/1/17
8,10019,1.0,赤峰,6.0,赤峰,NaN,0.0,NaN,10.0,6.0,...,0,1,2014/2/24,2014-02-24,-4,0,2013-09-11,2014/2/24,_CompanyPhone,2013/9/11
9,10021,3.0,武汉,5.0,鄂州,NaN,0.0,NaN,1.0,1.0,...,0,0,2014/2/27,2014-02-27,-4,2,2014-02-20,2014/2/27,_HasBuyCar,2014/2/20
10,10022,5.0,武汉,5.0,武汉,NaN,0.0,NaN,3.0,2.0,...,0,0,2014/2/25,2014-02-25,-4,0,2014-02-20,2014/2/25,_CompanyName,2014/2/20
11,10024,5.0,长沙,5.0,长沙,NaN,1.0,NaN,1.0,1.0,...,0,0,2014/3/6,2014-03-06,-4,0,2014-02-20,2014/3/6,_EducationId,2014/2/20
12,10026,3.0,漳州,3.0,漳州,NaN,1.0,NaN,11.0,3.0,...,1,0,2014/3/4,2014-03-04,-10,0,2014-02-20,2014/3/4,_Age,2014/2/20
13,10027,3.0,牡丹江,6.0,牡丹江,NaN,0.0,NaN,1.0,1.0,...,0,1,2014/2/26,2014-02-26,-4,2,2014-02-20,2014/2/26,_EducationId,2014/2/19
14,10031,1.0,太原,3.0,太原,NaN,0.0,NaN,3.0,1.0,...,1,0,2014/3/7,2014-03-07,-10,0,2014-02-20,2014/3/7,_EducationId,2014/2/20
15,10032,1.0,北京,6.0,北京,NaN,0.0,NaN,2.0,2.0,...,1,0,2014/2/26,2014-02-26,-4,0,2014-02-20,2014/2/26,_EducationId,2014/2/20
16,10036,1.0,成都,3.0,忻州,NaN,0.0,NaN,4.0,3.0,...,0,0,2014/2/27,2014-02-27,-4,2,2014-02-20,2014/2/27,_CompanyName,2014/2/19
17,10039,1.0,三明,4.0,三明,NaN,0.0,NaN,4.0,2.0,...,1,0,2014/2/22,2014-02-22,-4,0,2014-02-20,2014/2/22,_EducationId,2014/2/20
18,10040,1.0,临沂,6.0,临沂,NaN,0.0,NaN,1.0,1.0,...,0,1,2014/2/23,2014-02-23,-4,0,2014-02-20,2014/2/23,_EducationId,2014/2/20
19,10044,4.0,临沂,6.0,临沂,NaN,0.0,NaN,2.0,2.0,...,0,0,2014/2/24,2014-02-24,-4,0,2014-02-20,2014/2/24,_EducationId,2014/2/20
20,10050,1.0,福州,5.0,福州,NaN,0.0,NaN,3.0,2.0,...,1,0,2014/2/26,2014-02-26,-4,0,2014-02-20,2014/2/26,_EducationId,2014/2/20
21,10054,4.0,泰州,4.0,泰州,NaN,0.0,NaN,3.0,2.0,...,1,0,2014/2/24,2014-02-24,-4,0,2014-02-20,2014/2/24,_EducationId,2014/2/20
22,10059,5.0,成都,4.0,大同,NaN,0.0,NaN,8.0,8.0,...,1,0,2014/2/26,2014-02-26,-4,0,2011-05-26,2014/2/26,_Age,2014/2/20
23,1006,4.0,上海,5.0,上海,NaN,1.0,NaN,1.0,1.0,...,1,0,2013/11/18,2013-11-18,-4,0,2013-10-30,2013/11/18,_EducationId,2013/10/30
24,10063,1.0,红河哈尼族彝族自治州,5.0,红河哈尼族彝族自治州,NaN,0.0,NaN,1.0,1.0,...,0,0,2014/2/22,2014-02-22,-4,0,2014-02-20,2014/2/22,_EducationId,2014/2/20
25,10067,4.0,南平,4.0,南平,NaN,0.0,NaN,2.0,1.0,...,1,0,2014/2/25,2014-02-25,-4,0,2014-02-21,2014/2/25,_EducationId,2014/2/21
26,10068,1.0,郴州,5.0,郴州,NaN,0.0,NaN,9.0,5.0,...,1,0,2014/3/4,2014-03-04,-4,0,2014-02-21,2014/3/4,_EducationId,2014/2/21
27,10069,3.0,常州,4.0,常州,NaN,0.0,NaN,2.0,2.0,...,1,0,2014/2/24,2014-02-24,-4,0,2014-02-21,2014/2/24,_EducationId,2014/2/21
28,1007,6.0,湖州,6.0,湖州,NaN,0.0,NaN,2.0,2.0,...,0,0,2013/11/18,2013-11-18,-4,0,2013-11-12,2013/11/18,_EducationId,2013/11/12
29,10070,4.0,茂名,1.0,佛山,NaN,0.0,NaN,2.0,1.0,...,0,0,2014/3/3,2014-03-03,-4,0,2014-02-21,2014/3/3,_EducationId,2014/2/21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28952,9905,1.0,咸宁,4.0,温州,NaN,0.0,NaN,2.0,1.0,...,0,0,2014/3/4,2014-03-04,-10,1,2014-02-22,2014/3/4,_Age,2014/2/19
28953,991,1.0,惠州,4.0,揭阳,NaN,1.0,NaN,8.0,3.0,...,0,0,2013/11/21,2013-11-21,-4,0,2013-11-12,2013/11/21,_EducationId,2013/11/12
28954,9912,1.0,温州,5.0,温州,NaN,0.0,NaN,5.0,5.0,...,1,0,2014/3/5,2014-03-05,-4,4,2014-02-21,2014/3/5,_EducationId,2014/2/19
28955,9914,3.0,常德,5.0,常德,NaN,0.0,NaN,6.0,1.0,...,0,0,2014/3/7,2014-03-07,-4,6,2014-02-20,2014/3/7,_EducationId,2014/2/19
28956,9918,3.0,赣州,1.0,东莞,NaN,0.0,NaN,13.0,11.0,...,1,0,2014/2/20,2014-02-20,-4,6,2014-02-20,2014/2/20,_EducationId,2014/2/11
28957,9919,5.0,镇江,3.0,镇江,NaN,0.0,NaN,8.0,1.0,...,1,0,2014/2/28,2014-02-28,-4,0,2013-10-11,2014/2/28,_EducationId,2014/2/19
28958,992,5.0,淮安,3.0,上海,NaN,0.0,NaN,3.0,2.0,...,0,0,2013/11/15,2013-11-15,-10,0,2013-11-12,2013/11/15,_EducationId,2013/11/12
28959,9921,6.0,福州,6.0,福州,NaN,0.0,NaN,1.0,1.0,...,0,0,2014/2/26,2014-02-26,-4,6,2014-02-20,2014/2/26,_EducationId,2014/2/19
28960,9923,5.0,三明,6.0,三明,NaN,1.0,NaN,6.0,3.0,...,0,0,2014/3/10,2014-03-10,-4,6,2014-02-25,2014/3/10,_EducationId,2014/2/19
28961,9926,1.0,深圳,5.0,东莞,NaN,0.0,NaN,4.0,3.0,...,0,0,2014/2/21,2014-02-21,-4,6,2014-02-20,2014/2/21,_EducationId,2014/1/17
28962,9935,1.0,NaN,4.0,NaN,NaN,0.0,NaN,1.0,1.0,...,0,0,2014/2/24,2014-02-24,-4,6,2014-02-20,2014/2/24,_EducationId,2014/2/19
28963,9936,5.0,惠州,1.0,深圳,NaN,0.0,NaN,4.0,4.0,...,0,0,2014/2/27,2014-02-27,-10,1,2014-02-20,2014/2/27,_EducationId,2014/2/19
28964,9938,1.0,泉州,6.0,泉州,NaN,0.0,NaN,3.0,1.0,...,1,0,2014/2/24,2014-02-24,-4,6,2014-02-20,2014/2/24,_EducationId,2014/2/19
28965,9941,1.0,衡阳,6.0,广州,NaN,0.0,NaN,2.0,2.0,...,0,1,2014/2/21,2014-02-21,-4,6,2014-02-20,2014/2/21,_EducationId,2014/2/12
28966,9952,1.0,临夏回族自治州,3.0,临夏回族自治州,NaN,0.0,NaN,2.0,1.0,...,0,0,2014/2/22,2014-02-22,-4,0,2014-02-20,2014/2/22,_EducationId,2014/2/20
28967,9964,1.0,南昌,4.0,深圳,NaN,1.0,NaN,2.0,2.0,...,1,0,2014/2/21,2014-02-21,-10,1,2014-02-20,2014/2/21,_EducationId,2014/1/16
28968,9966,1.0,佛山,3.0,NaN,NaN,0.0,NaN,3.0,1.0,...,0,0,2014/2/23,2014-02-23,-10,1,2014-02-20,2014/2/23,_EducationId,2014/1/19
28969,9967,7.0,扬州,5.0,扬州,NaN,0.0,NaN,5.0,3.0,...,0,0,2014/2/24,2014-02-24,-4,0,2013-07-06,2014/2/24,_LastUpdateDate,2013/7/6
28970,9974,1.0,荆门,6.0,荆门,NaN,0.0,NaN,1.0,1.0,...,0,0,2014/2/28,2014-02-28,-4,0,2014-02-20,2014/2/28,_EducationId,2014/2/20
28971,9979,4.0,青岛,5.0,青岛,NaN,0.0,NaN,12.0,3.0,...,1,0,2014/2/24,2014-02-24,-4,0,2013-06-17,2014/2/24,_EducationId,2013/12/16
28972,9983,6.0,上海,5.0,上海,NaN,1.0,NaN,2.0,2.0,...,1,0,2014/2/25,2014-02-25,-4,2,2014-02-20,2014/2/25,_EducationId,2014/2/15
28973,9984,4.0,晋中,4.0,晋中,NaN,0.0,NaN,7.0,2.0,...,1,0,2014/2/22,2014-02-22,-4,0,2011-05-14,2014/2/22,_CompanyAddress,2013/2/14
28974,9986,1.0,运城,5.0,运城,NaN,0.0,NaN,3.0,3.0,...,0,0,2014/2/25,2014-02-25,-4,2,2014-02-20,2014/2/25,_EducationId,2014/1/18
28975,9989,1.0,北京,3.0,北京,NaN,0.0,NaN,5.0,4.0,...,0,0,2014/2/24,2014-02-24,-4,2,2014-02-20,2014/2/24,_EducationId,2014/2/20
28976,9990,4.0,酒泉,6.0,嘉峪关,NaN,NaN,NaN,NaN,NaN,...,0,0,2014/2/28,2014-02-28,-4,0,2014-02-20,2014/2/28,_EducationId,2014/2/20
28977,9991,3.0,南阳,4.0,南阳,NaN,1.0,NaN,3.0,2.0,...,1,0,2014/2/22,2014-02-22,-4,0,2013-12-17,2014/2/22,_CompanySizeId,2013/12/17
28978,9992,3.0,宁德,4.0,泉州,NaN,0.0,NaN,6.0,1.0,...,1,0,2014/2/28,2014-02-28,-4,0,2014-02-20,2014/2/28,_EducationId,2014/2/20
28979,9995,1.0,天津,2.0,天津,NaN,0.0,NaN,2.0,2.0,...,0,0,2014/2/24,2014-02-24,-4,2,2014-02-20,2014/2/24,_EducationId,2014/2/20
28980,9997,3.0,运城,3.0,运城,NaN,0.0,NaN,1.0,1.0,...,1,0,2014/2/28,2014-02-28,-4,0,2014-02-20,2014/2/28,_EducationId,2014/2/20
28981,9998,4.0,金华,5.0,无锡,NaN,0.0,NaN,1.0,1.0,...,0,0,2014/3/5,2014-03-05,-4,0,2014-02-20,2014/3/5,_EducationId,2014/2/20